:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
